.sider-menu{
  background-color: black;
  .header {
    height: 64px;
    position: fixed;
    top: 0;
    right:0;
    left: 0;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    transition: all 0.3s;
    z-index: 9;
    .side-trigger {
      padding: 0 24px;
      line-height: 64px;
      transition: all .3s,padding 0s;
      cursor: pointer;
    }
    .side-trigger:hover {
      background: #e6f7ff;
    }
    .header-item {
      line-height: 64px;
      height: 100%;
      display: inline-block;
      padding: 0 10px;
      cursor: pointer;
      transition: all .3s,padding 0s;
    }
    .header-item:hover {
      background: #e6f7ff;
    }
  }
  .side-bar {
    width: 256px;
    position: fixed;
    left: -256px;
    top: 0;
    bottom: 0;
    background-color: white;
    transition: all 0.3s;
    z-index: 11;
    .side-title {
       height: 64px;
       color: white;
       line-height: 64px;
       overflow: hidden;
       color: rgba(0, 0, 0, 0.65);
       .side-title-img {
         width: 50px;
         height: 57px;
         padding-top: 7px;
         margin-left: 24px;
       }
    }
  }
  .side-show {
    .header {
      left: 256px;
    }
    .side-bar {
      left: 0;
      box-shadow: 2px 0 6px rgba(0,21,41,.35);
    }
  }
  @media (max-width: 992px) {
    .side-show {
      .header {
        left: 0;
      }
      .side-bar {
        left: 0;
      }
      .mask {
        background-color: black;
        opacity: 0.3;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
      }
    }
  }
}
