/*-------------- App -------------*/
body {
  font-family: Montserrat, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.min-width-200 {
  min-width: 200px;
}
.vertical-middle {
  vertical-align: middle;
}
.hide {
  display: none !important;
}
.main-container {
  transition: all .3s;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 64px;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f0f2f5;
  z-index: 0;
}
.main-container.side {
  left: 256px;
}
@media (max-width: 992px) {
  .main-container.side {
    left: 0;
  }
}
/*-------------- App -------------*/
/*-------------- template ------------*/
.font-20 {
  font-size: 20px;
}
.font-14 {
  font-size: 14px;
}
.height-100 {
  height: 100%;
}
.float-right {
  float: right;
}
.icon-gap {
  margin-right: .5em;
}
.shadow-box {
  border-radius: 2rem;
  box-shadow: 0 5px 40px rgba(0,0,0,.16);
  background: rgba(0, 0, 0, 0.25);
  text-align: center;
}
.card {
  background-color: #fff;
  box-shadow: 0 5px 40px rgba(0,0,0,.16);
  border-radius: 8px;
  overflow: hidden;
}
.btn {
  color: #fff;
  border: none;
  padding: 5px 15px;
  border-radius: 3px;
  display: inline-block;
  outline: none;
  position: relative;
  cursor: pointer;
}
/*-------------- template ------------*/
