/*-------------- App -------------*/
body {
  font-family: Montserrat, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.min-width-200 {
  min-width: 200px;
}
.vertical-middle {
  vertical-align: middle;
}
.hide {
  display: none !important;
}
.main-container {
  transition: all .3s;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 64px;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f0f2f5;
  z-index: 0;
  padding: 30px;
  color: rgba(0, 0, 0, 0.65);
  -webkit-overflow-scrolling:touch;
}
.main-container.side {
  left: 256px;
}
.page-title {
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .main-container.side {
    left: 0;
  }
}
/*-------------- App -------------*/
/*-------------- template ------------*/
.font-20 {
  font-size: 20px;
}
.font-14 {
  font-size: 14px;
}
.bg-white {
  background-color: white;
}
.height-100 {
  height: 100%;
}
.padding-20 {
  padding: 20px;
}
.margin-bottom-25 {
  margin-bottom: 25px;
}
.float-right {
  float: right;
}
.icon-gap {
  margin-right: .5em;
}
.shadow-box {
  border-radius: 2rem;
  box-shadow: 0 5px 40px rgba(0,0,0,.16);
}
.card {
  background-color: #fff;
  box-shadow: 0 5px 40px rgba(0,0,0,.16);
  border-radius: 8px;
  overflow: hidden;
}
.btn {
  color: #fff;
  border: none;
  padding: 5px 15px;
  border-radius: 3px;
  display: inline-block;
  outline: none;
  position: relative;
  cursor: pointer;
}
/*-------------- template ------------*/
/*-------------- gradients ------------*/
.bg-gradient-1 {
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-gradient-2 {
  background: #F7971E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.bg-gradient-3 {
  background: #FF8008;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.bg-gradient-4 {
  background: #457fca;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-gradient-5 {
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-gradient-6 {
  background: #50C9C3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #96DEDA, #50C9C3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #96DEDA, #50C9C3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-gradient-7 {
  background: #DA4453;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-gradient-8 {
  background: #CB356B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-gradient-9 {
  background: #7F00FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-gradient-10 {
  background: #ec008c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*-------------- gradients ------------*/
