/*-------------- quizList ------------*/
.margin-right-10-per {
  margin-right: 10%;
}
.quizList {
  text-align: center;
  padding-top: 30px;
}
button.start-quiz-button {
  font-size: 35px;
  padding: 5px 0;
  width: 100%;
  height: 52px;
}
.quiz-panel {
  width: 100%;
  padding: 25px 60px;;
  margin-top: 25px;
}
.quiz-panel button {
  width: 45%;
  height: 120px;
  margin-top: 40px;
  font-size: 40px;
}
.sums-container {
  display: block;
  background-color: #ECF0F1;
  width: 100%;
  padding: 10px;
  font-size: 40px;
  color: #808080;
  border-radius: 5px;
}
.answer-input {
  margin-left: 1em;
  width: 50px;
}
div.game-over {
  font-size: 28px;
  color: #fff;
  background: #87D37C;
  width: 100%;
  margin: 20px 0;
  padding: 15px 0;
  box-shadow: 6px 6px #3FC380;
  border-radius: 10px;
}
.progressbar {
  width: 100%;
  height: 52px;
  background-color: #2ca5d4;
  border-radius: 5px;
}
.progressbar-bar {
  display: block;
  width: 0;
  height: 52px;
  border-radius: 5px;
  background-color: #2980b9;
  transition: all 1s linear;
}
/*-------------- quizList ------------*/
/*------------- responsive -----------*/
@media (max-width: 768px) {
  .quiz-panel {
    padding: 25px 15px;
  }
}
/*------------- responsive -----------*/
